*{
    margin: 0;
    padding: 0;
}

/*Navigation Bar*/
#nav-bar{
    position:sticky;
    top:0;
    z-index: 10;
}

.navbar-brand img{
    height: 68px;
    width: 90px;
    padding-left: 30px;
    margin-top: 2px;
    margin-bottom: 0px 2px;
    width:350px;
}

.navbar-nav li{
    height:60px;
    padding-left: 30px;
    text-align: center;
    margin-top: 30px;
    color: #006400;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #0a0a0a;
}
    
.navbar{
    background: #ffffff;
} 
    
.navbar-toggler{
    border: none!important;
}
    
.nav-link{
    color: #006400!important;
    font-weight: 600;
    font-size: 18.5px;
}

.dropdown-menu:hover{
  color: #006420;
}

/*******Warehouse Main Image********/
.images-warehouse{
    background-image: url(services/warehouse.jpg);
    height:60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
   
}

/*Warehouse*/
.warehousetxt h1{
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: #006400
    
}

.warehousep p{
    font-size:10px ;
    color:#090909;
    font-size: 16px;
    text-align:justify;
    justify-content: left baseline;
    left: 20px;
    margin-top: 10px;
}

/***Warehouse Features***/
.bold{  /*to make the title bolder*/
    font-weight: bolder;
    font-size: 44px;
}

/*Our Footer*/
.text-center .p-3{
    font-weight: bold;
}

/******REVEAL******/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

